<article class="bottom-space">
<<<<<<< HEAD
    <header style="background:url(<%= @article.cover.url(:thumb)%>);width:100%;height:400px;background-size: cover;">
    </header>
=======
>>>>>>> afc17d7f505c61e1395aa13cf56a3b9a7a164bb7
<div class="row center-xs">
    <div class="col-xs-12 light-border col-md-7">
        <h1 class="be-big text-danger" > <%= @article.title %></h1>
<p class="text-right be-small">
    <%= link_to "Atrás", articles_path, class:"underline" %> - <span class="text-danger"> <%= @article.visits_count %> Visita(s) </span> - <% unless @article.user.nil? %>

    Escrito por <%= @article.user.email %>
<% end %>
</p>
<div class="text-center">
    <%= @article.body %>
</div>

<div class="top-space">
    <%= render "articles/comments" %>
</div>
</div> 
</div>
</article>
