<div class="container-fluid">

<h1 style="color:<%= @category.color %>;"> <%= @category.name %></h1>

<div class="row">
  <%= render @category.articles %>
</div>
 

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Atras', articles_path %>
</div>